<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <extensions>
        <behaviorExtensions>
          <add name="serviceKeyBehavior" type="qms.ServiceKeyBehaviorExtensionElement, QMS, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        </behaviorExtensions>
      </extensions>
      <behaviors>
        <endpointBehaviors>
          <behavior name="ServiceKeyEndpointBehavior">
            <serviceKeyBehavior/>
          </behavior>
        </endpointBehaviors>
      </behaviors>
      <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IQMS">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQMS1">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQMS2">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService1">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService2">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS" contract="QMSAPI.IQMS1"
                name="BasicHttpBinding_IQMS" behaviorConfiguration="ServiceKeyEndpointBehavior" />
            <endpoint address="http://localhost:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS1" contract="QMSAPI.IQMS"
                name="BasicHttpBinding_IQMS1" behaviorConfiguration="ServiceKeyEndpointBehavior" />
            <endpoint address="http://localhost:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS2" contract="QMSAPI.IQMS2"
                name="BasicHttpBinding_IQMS2" behaviorConfiguration="ServiceKeyEndpointBehavior" />
            <endpoint address="http://localhost:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService" contract="QMSAPI.IQTService1"
                name="BasicHttpBinding_IQTService" behaviorConfiguration="ServiceKeyEndpointBehavior" />
            <endpoint address="http://localhost:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService1" contract="QMSAPI.IQTService"
                name="BasicHttpBinding_IQTService1" behaviorConfiguration="ServiceKeyEndpointBehavior" />
            <endpoint address="http://localhost:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService2" contract="QMSAPI.IQTService2"
                name="BasicHttpBinding_IQTService2" behaviorConfiguration="ServiceKeyEndpointBehavior" />
        </client>
    </system.serviceModel>
</configuration>